@import '@fontsource/roboto/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply heropattern-topography-white/10 h-screen flex flex-col;
  }
}

@layer utilities {
  /* Class is used for development purposes only */
  .dev {
    @apply border-[1px];
  }

  .html-content {
    @apply [&>h1]:text-3xl [&_p]:flex [&_p]:justify-center [&_p]:items-center;
  }
}
